.purchasesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.purchase {
    display: flex;
    background-color: white;
    margin: 3em;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1em;
    width: 15em;
    height: 15em;
    border: double #fcbf49;
    align-content: center;
    padding: 1em;
}

.requestButton {
    display: flex;
}

.purchaseHeader {
    border-top: double #003049;
    margin-top: 1em;
}

/* .mainTitle {
    color: #003049;
    display: flex;
    font-size: 5em;
    text-shadow: .05em .05em #f77f00, .1em .1em #fcbf49;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    border-bottom: double .5em #003049;
} */

.titleRequest {
    color: #003049;
    text-shadow: .05em .05em #f77f00, .1em .1em #fcbf49;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    border-bottom: double 1px #003049;
}