.profileForm {
    border: none;
}
.formGroup {
    border: double
}
fieldset {
    border: none;
    min-width: 200px;
}
label {
    display: block;
    margin-top: 1em;
}

.profile {
    padding: 1em;
    margin: .5em;
    color: #003049;
    text-align: center;
    align-items: center;
}
.profiles {
    display: flex;
    margin: 1em;
}

.profile__header {
    font-size: 2em;
    margin-bottom: 1em;
    border-bottom: double #003049;
}

.profile__footer {
    font-size: 1em;
}

.profilePic{
    display: block;
    width: 10em;
    height: 10em;
    margin: .5em;
    clip-path: circle();
}

.picDiv {
    background-color: #fcbf49;
    clip-path: circle();
    width: fit-content;
    height: fit-content;
}
.picBG {
    background-color: #fcbf49;
    /* clip-path: circle(); */
    width: fit-content;
    height: fit-content;
}