.inventories {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;

}

.inventory {
    display: flex;
    flex-direction: column;
    margin: 2rem
}

.myButton {
    margin-left: auto;
}

.userInventoryItem {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
}