@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');

.inventories {
  display: flex;
  padding: 10px;
  margin: 2em;
  flex-wrap: wrap;
}

.inventoryPic {
  object-fit: cover;
  height: 100px;
  width: 200px;
}

.titleInventory {
  color: #003049;
  font-size: 5em;
  text-shadow: .05em .05em #f77f00, .1em .1em #fcbf49;
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
  border-bottom: double .5em #003049;
  background-color: #faedcd;
}

.inventory {
  display: flex;
  background-color: white;
  margin: 2em;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 15em;
  height: 12em;
  border: double #fcbf49;
  text-align: center;
  padding: 1em;
}

.detailFooter {
  margin-top: 1em;
}

.profilePic {
  display: block;
  width: 10em;
  height: 10em;
  margin: .5em;
  clip-path: circle();
}

.gearDetails {
  display: flex;
  flex-direction: column;
}

.gearName {
  font-size: 5em;
  font-family: 'Righteous', cursive;
  color: #003049;
  text-shadow: .05em .05em #f77f00, .1em .1em #fcbf49;
}

.inventory:hover {
  transform: scale(1.25);
}

.userCollection:hover {
  transform: scale(1.1);
}

.myButton {
  margin-left: auto;
}

.userInventoryItem {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}


.photoDetails {
  height: 20em;
  width: auto;
  border: double #fcbf49;
  padding: 1em;
  background-color: white;
  margin-top: 1em;
}

.description {
  margin-top: 1em;
  font-size: 2em;
  font-family: 'Righteous', cursive;
  color: #003049;
}

.status {
  margin-top: 1em;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

button {
  margin-right: auto;
}

.feedback {
  border: 1px dotted cadetblue;
  width: 2em;
  padding: 1rem;
  background-color: #003049;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  animation: 1s slideDown;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.error {
  border: 1px dotted rgb(107, 21, 4);
  padding: 1rem;
  background-color: rgb(255, 229, 228);
}

@keyframes slideDown {
  0% {
    top: 0%;
  }

  100% {
    top: 20%;
  }
}

.search {
  margin-left: 1em;
  margin-top: 1em;
}

.gearSearch {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px double #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.inventory__header {
  text-decoration: none;
  margin-top: 1em;
  border-top: double #003049;
  padding-top: 2px;
}

.inventoryDetailsButton {
  float: left;

}