@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');

body {
  margin: 1rem;
  font-family: 'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faedcd;
  z-index: 1;
  color: #003049;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  float: left;
  max-width: fit-content;
  height: 100px;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-size: 3em;
}

h1,
h2,
h3 {
  font-family: 'Righteous', cursive;
}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 7em;
  width: 100%;
  height: 1.5em;
  color: #d62828;
  text-shadow: .05em .05em #f77f00, .1em .1em #fcbf49;
  display: flex;
  flex-direction: column;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK8xP-tbknDTagp6z4yyvnSj89haRuw_du_A&usqp=CAU");
  background-repeat: no-repeat;
  background-size: contain; */
}

.title {
  color: #003049;
  font-size: 3em;
  text-shadow: .05em .05em #f77f00, .1em .1em #fcbf49;
}

.gone {
  margin-left: 1em;
  font-size: .25em;
  text-shadow: none;
  color: #f77f00;
}

.track {
  margin-left: 1em;
  font-size: .25em;
  text-shadow: none;
  color: #fcbf49;
}

a {
  text-decoration: none;
  color: #003049;
}

button {
  background: #003049;
  border: 1px double #003049;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #fcbf49;
  cursor: pointer;
  display: inline-block;
  font-family: 'Righteous', cursive;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin: .5em;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: #d62828;
  background-position: 0 0;
  color: #fcbf49;
}

button:active {
  opacity: .5;
}

/* .nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 58px;
} */

input[type=text],
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px double #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profileForm {
  border: none;
}

.formGroup {
  border: double
}

fieldset {
  border: none;
  min-width: 200px;
}

label {
  display: block;
  margin-top: 1em;
}

.form-control {
  box-shadow: 1px 1px 1px 1px #002f49c1;
}

select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px double #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}